{
    "extends":[
        "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true,
            "arrowFunctions": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "semi": "off",
        "no-array-constructor": "off",
        "react/jsx-filename-extension": "off",
        "react/forbid-prop-types": "off",
        "react/require-default-props": "off",
        "react/no-unused-prop-types": "off",
        "react/jsx-indent": "off",
        "function-paren-newline": "off",
        "no-undef": "off"
    }
}